*{
    margin: 0;
    padding: 0;

}

.section1{
    height: 150px;
    background: green;
    text-align: center;
}
.section1 h2 {
    color: white;
    padding-top: 40px;
}

.section1 p{
    color: white;
    padding-top: 10px;
}
.navbar{
    background: black;
    height: 30px;
    color: white;
    font-size: 17px;
    
}
.navbar ul{
    display: flex;
    list-style: none;
    /* margin-left: 50px; */
}
.navbar ul li {
    padding-left: 30px;
    /* margin-left: 50px; */
    padding-top: 5px;
}

.section2{
    height: 1500px;
    width: 430px;
    background: grey;
    font-size: 20px;
    
}


.section2 h2{
    margin-left: 10px;
    padding-top: 20px;
}
.section2 p{
    margin-left: 10px;
    padding-top: 20px;
    
}
.img1{
    width: 390px;
    margin-left: 20px;
    margin-top: 35px;
}
 .aside .section5{
    border: 2px solid black;
    width: 1200px;
    height: 1500px;
    display: flex;
}

.aside{
    display: flex;
    width: 100%;
} 


.aside .section5 .title1{
    margin-left: 15px;
    padding-top: 10px;
}

.aside .section5 .title1 p{
    padding-top: 10px;
    font-size: 19px;

}
.aside .section5 .title1 .imgtitle{
    width: 1090px;
    height: 500px;
}

.title2{
    padding-top: 20px;
    border: 2px solid red;
}

.title2 h3{
    padding-top: 10px;
}
 .title2 .imgtitle1{
    width: 1090px;
 height: 500px ;
 padding-top: 5px;
}

.footer h2{
    text-align: center;
    background:  green;
    height: 100px;
    color: white;
    padding-top: 40px;
}
  @media (max-width:600px){
    .navbar ul{
        /* height: 5vh; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    .navbar{
        height: 130px;
    }



    .navbar ul li {
        padding: 3px;
    }

    .aside{
        width: 100%;
        display: flex;
        flex-direction: column;
        
    }

    .aside .section2{
        width: 100%;
    }

    .aside .section5{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .aside .section5 .title1 .imgtitle{
        width: 470px;
    }

    .title2 .imgtitle1{
        width: 470px;
    }

    .footer h2{
        height: 50px;
        padding-top: 00px;
    }

    .title2{
        text-overflow: hidden;
    }


  }


















































